.profile__add-button {
  background-image: url(../../../images/plus-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 150px;
  height: 50px;
  padding: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-left: auto;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media (max-width: 698px) {
  .profile__add-button {
    margin: 31px 0 0;
    width: 100%;
    background-size: 16px 16px;
  }
}
